<!--   NAVBAR START================== -->


<nav class="navbar navbar-expand-lg navbar-light" id="nav-style">
  <a class="navbar-brand logo-nav" href="/">FRA.Me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
          <div class="dropdown" id="corrector">
              <button class="nav-link dropdown-btn">COLLECTION
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content" class="front-dropdown-content">
                <a href="/photos?utf8=✓&query=travel">travel</a>
                <a href="/photos?utf8=✓&query=forest">forest</a>
                <a href="/photos?utf8=✓&query=summer">summer</a>
                <a href="/photos?utf8=✓&query=yoga">yoga</a>
                <a href="/photos?utf8=✓&query=smile">smile</a>
                <a href="/photos?utf8=✓&query=people">people</a>
                <a href="/photos?utf8=✓&query=love">love</a>
                <a href="/photos?utf8=✓&query=street">street</a>
                <a href="/photos?utf8=✓&query=mountain">mountain</a>
                <a href="/photos?utf8=✓&query=night">night</a>
                <a href="/photos?utf8=✓&query=paint">paint</a>
                <a href="/photos?utf8=✓&query=art">art</a>
              </div>
            </div>
      </li>

      <% if user_signed_in? %>
        <% if Cart.where(user_id: current_user.id).where(state: "pending").first %>
          <li class="nav-item">
            <%= link_to "CART", cart_path(Cart.where(user_id: current_user.id).where(state: "pending").first), class:"nav-link" %>
          </li>
        <% end %>
      <% end %>

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "DASHBOARD", user_dashboard_path, class:"nav-link" %>
        </li>
      <% end %>

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "UPLOAD A PIC", new_photo_path, class:"nav-link" %>
        </li>
      <% end %>

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "LOG OUT", destroy_user_session_path, class:"nav-link", method: :delete %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "SIGN IN", new_user_session_path, class:"nav-link" %>
        </li>
      <% end %>
  <!--     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->

    </ul>
    <%= form_tag photos_path, method: :get, id:"search-form", class:"form-inline my-2 my-lg-0" do %>
    <div class="d-flex">
      <div id="fa-fa-fix" class="search-input">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <%= text_field_tag :query,
        params[:query],
        class: "search-input form-control mr-sm-2",
        placeholder: "Search"
      %>

    </div>
    <% end %>


  </div>
</nav>
