<body id="body-blue">
  <div class="form-container">

    <div class="container-title">
      <h2>Alright, <%= @user.first_name.capitalize %>!</h2>
      <p>Now please tell us about the delivery details</p>
    </div>

    <div class="form-itself pt-2 w-100">
      <%= simple_form_for [@cart, @order] do |f| %>
        <%= f.input :address_line_1 %>
        <%= f.input :address_zipcode %>
        <%= f.input :address_city %>
        <!-- bug on the simple form input country so has been replaced by pure plain html, works well -->
        <%#= f.input :country %>
      <div class="form-group string optional order_country">
        <label class="form-control-label string optional" for="order_country">Country</label>
        <input class="form-control string optional" type="text">
        <div class="pb-3" name="order[country]" id="order_country">
      </div>
          <%= f.input :phone_number %>
        </div>
        <%= f.button :submit, "Go to payment", class: "btn-yellow" %>
      <% end %>
    </div>

  </div>
</body>


