<h1>Order#new</h1>

<h2>Please give us the delivery information</h2>
<%= simple_form_for [@cart, @order] do |f| %>
<%= f.input :address_line_1 %>
<%= f.input :address_zipcode %>
<%= f.input :address_city %>
<%= f.input :country %>
<%= f.input :phone_number %>
<%= f.input :state %>
<%= f.button :submit %>
<% end %>


