<h1>Order#new</h1>



<%= form_for(order) do |f| %>
<%= f.association :cart_id %>
<%= f.association :user_id %>
<%= f.association :supplier_id %>
<%= f.label :address_line_1 %>
<%= f.label :address_zipcode %>
<%= f.label :address_city %>
<%= f.label :country %>
<%= f.label :phone_number %>
<%= f.label :state %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>



    t.jsonb "payment"
    t.index ["cart_id"], name: "index_orders_on_cart_id"
    t.index ["supplier_id"], name: "index_orders_on_supplier_id"
    t.index ["user_id"], name: "index_orders_on_user_id"

