<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>


<h1>Your detailed order</h1>

<h2>Delivery address:</h2>
<%= @order.current_user.first_name %> <%= @order.current_user.last_name %>,
<%= @order.address_line_1 %>
<%= @order.address_zipcode %> <%= @order.address_city %>
<%= @order.country %>

Contact: <%= @order.phone_number %>

<table style="width:70%">
  <tr>
    <th>article</th>
    <th>quantity</th>
    <th>price</th>
  </tr>

<!-- va venir du cart show, à faire plus tard
  <tr>
    <td>article</td>
    <td>quantity</td>
    <td>price</td>
  </tr> -->

</table>
