
<!-- BEGINNING OF THE CURRENT CART SECTION -->
<!-- Below, display the photos in the user's current cart -->
<h1>Your current cart</h1>
<% @products_in_current_cart.each do |product| %>

<!-- photo scraped and added in the cart -->
<% if Photo.find(Product.find(product.id).photo_id).api_url %>
    <img src="<%= Photo.find(Product.find(product.id).photo_id).api_url %>" height="150" width="200" alt="test">
    <p>
    <%= link_to 'Update', edit_product_path(product.id) %>
    <%= link_to 'Remove', product_path(product.id), data: { confirm: "Are you sure?" }, method: :delete %>
    </p>

<!-- photo uploaded by the user and in the current cart -->
  <% else %>
    <%= cl_image_tag Photo.find(Product.find(product.id).photo_id).cl_url, height: 150, width: 200, crop: :fill, id: 'uploaded-image' %>
    <p>
    <%= link_to 'Update', edit_product_path(product.id) %>
    <%= link_to 'Remove', product_path(product.id), data: { confirm: "Are you sure?" }, method: :delete %>
    </p>
  <% end %>
<% end %>
<!-- END OF THE CURRENT CART SECTION -->


<!-- BEGINNING OF THE UPLOADED PHOTOS SECTION -->
<!-- Below, display the user's photos, i.e. the ones that he has downloaded -->
<h1>Your uploaded photos</h1>
<% if @uploaded_photos %>
  <% @uploaded_photos.each do |photo| %>
    <%= cl_image_tag photo.cl_url, height: 150, width: 200, crop: :fill, id: 'uploaded-image' %>
    <p>
    <%= link_to "Frame", photo_path(photo.id) %> |
    <%= link_to "Remove", photo_path(photo.id), data: { confirm: "Are you sure?" }, method: :delete %>
    </p>
  <% end %>
<% else %>
<% end %>
<!-- END OF THE UPLOADED PHOTOS SECTION -->


<!-- BEGINNING OF THE PREVIOUS ORDERS SECTION -->
<!-- Below, display the user's previous orders (just display the price for now) -->
<h1>Your previous orders</h1>
<% @previous_carts.each do |cart| %>
  <%= cart.total_price %>
<% end %>
<!-- END OF THE PREVIOUS ORDERS SECTION -->
