<style> body { background-color: rgba(223, 194, 68, 0.27); } </style>

<!-- CONTAINER OF THE WHOLE PAGE -->
<div class="container">

<h2 id="username" >Hello <%= @user.first_name.capitalize %>, welcome in your dashboard</h2>

</div>
<!-- BELOW, THE CONTAINER FOR THE FAVORITE / UPLOADED SECTION -->
  <div class="container">
      <!-- BEGINNING OF THE NAV TAB FAVORITE / UPLOADED SECTION -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Top photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Personal photos</a>
        </li>
      </ul>
      <!-- END OF THE NAV TAB FAVORITE / UPLOADED SECTION -->

    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <!-- BEGINNING OF THE FAVORITE PHOTOS SECTION -->
          <% @favorites.each do |favorite| %>
            <div class="dashboard-image-card">
              <div class="frame-effet">
                <%= image_tag favorite.photo.api_url, height: 150, width: 200, crop: :fill, id: 'favorite-image' %>
              </div>
              <p id="options">
              <%= link_to "Frame", photo_path(favorite.photo.id) %> |
              <%= link_to "Remove", favorite_path(favorite.id), data: { confirm: "Are you sure?" }, method: :delete %>
              </p>
            </div>
          <% end %>
      <!-- END OF THE FAVORITE SECTION -->
      </div>


      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <!-- BEGINNING OF THE UPLOADED PHOTOS SECTION -->
        <!-- Below, display the user's photos, i.e. the ones that he has downloaded -->
        <% if @uploaded_photos %>
          <% @uploaded_photos.each do |photo| %>
            <div class="dashboard-image-card">
              <div class="frame-effet">
                <%= cl_image_tag photo.cl_url, height: 150, width: 200, crop: :fill, id: 'uploaded-image' %>
              </div>
              <p id="options" >
              <%= link_to "Frame", photo_path(photo.id) %> |
              <%= link_to "Remove", photo_path(photo.id), data: { confirm: "You will no longer be able to print that photo. Are you sure?" }, method: :delete %>
              </p>
            </div>
          <% end %>
        <% else %>
        <% end %>
        <!-- END OF THE UPLOADED PHOTOS SECTION -->
      </div>
    </div>
  <!-- BELOW, END OF THE CONTAINER THE FAVORITE / UPLOADED SECTION -->
  </div>



<!-- BELOW, BEGINNING OF THE ORDER SECTION -->
<div class="container mt-5 mb-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Orders</a>
    </li>
  </ul>
  <div class="row m-0 card border-top-0">
    <div class="table-responsive table--no-card m-b-40" id="tab-text-container">
      <table class="table table-borderless table-striped table-earning" id="table">

        <thead>
          <tr>
            <th>Order ID</th>
            <th>Order date</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Total</th>
            <th class="text-right">Details</th>
          </tr>
        </thead>
<% @orders.each do |order| %>
<% @products = CartProduct.where(cart_id: Cart.find(order.cart_id)) %>
        <tbody>
          <tr class="bg-white" id="order-row">
              <td><%=order.id%></td>
              <td><%= order.created_at.strftime("%b %d, %Y") %></td>
              <td class="text-right"> <%= @products.length %> </td>
              <td class="text-right">€ <%= order.amount_cents / 100 %></td>
              <td class="text-right"><%= link_to '🔎', order_path(order.id) %></td>
          </tr>
        </tbody>
<% end %>
      </table>
    </div>
  </div>
</div>
<!-- BELOW, END OF THE ORDER SECTION -->


<!-- BELOW, BEGINNING OF THE ORDER SECTION -->
<div class="container mt-5 mb-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
    </li>
  </ul>
  <div class="row m-0 card border-top-0">
    <div class="table-responsive table--no-card m-b-40" id="tab-text-container">
      <table class="table table-borderless table-striped table-earning" id="table">

        <thead>
          <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Password</th>
          </tr>
        </thead>
<% @orders.each do |order| %>
        <tbody>
          <tr class="bg-white" id="profile-row">
              <td><%=@user.email%> &nbsp; &nbsp; &nbsp; &nbsp;
                  <%= link_to(edit_user_registration_path, method: :get) do %>
                  <i class="fa fa-pencil-square-o"></i>
                  <% end %>
              </td>
              <td><%=@user.first_name.capitalize%> &nbsp; &nbsp; &nbsp; &nbsp;
                  <%= link_to(edit_user_registration_path, method: :get) do %>
                  <i class="fa fa-pencil-square-o"></i>
                  <% end %>
              </td>
              <td> <%=@user.last_name.capitalize%> &nbsp; &nbsp; &nbsp; &nbsp;
                  <%= link_to(edit_user_registration_path, method: :get) do %>
                  <i class="fa fa-pencil-square-o"></i>
                  <% end %>
              </td>
              <td> ● ● ● ● ● ● ● &nbsp; &nbsp; &nbsp; &nbsp;
                  <%= link_to(edit_user_registration_path, method: :get) do %>
                  <i class="fa fa-pencil-square-o"></i>
                  <% end %>
              </td>
          </tr>
        </tbody>
<% end %>
      </table>
    </div>
  </div>
</div>
<!-- BELOW, END OF THE ORDER SECTION -->






  <!-- BEGINNING THE PREVIOUS ORDERS SECTION -->

 <!--  <%= @user.email %>
  <%= @user.first_name %>
  <%= @user.last_name %> -->

  <!-- END OF THE USER INFORMATION SECTION -->










































