<body id="body-background">

  <div class="two-columns mb-5">

    <div class="card-products-cart">
      <% @products.each do |product| %>
        <div class="flex-card-container">
          <% product.photo.id %>
            <% if product.photo.api_id %>
              <div class="photo-column-1">
                <img src="<%= Photo.find(product.photo.id).api_url %>" alt="test" class="cart-image">
              </div>

              <div class="photo-column-2">
                <h2><%= product.photo.title %></h2>
                <div class="cart-info">
                  <p><%= product.frame_combo.frame_material.name %></p>
                  <p>Format <%= product.frame_combo.frame_dimension.format %></p>
                </div>
                <h2>€ <%= product.price %></h2>
              </div>

              <div class="photo-column-3">
                <p>
                  <%= link_to(edit_product_path(product.id), method: :get) do %>
                    <i class="fas fa-pen"></i>
                  <% end %>

                  <%= link_to(product_path(product.cart_product.id), data: { confirm: "Are you sure?" }, method: :delete) do %>
                   <i class="fa fa-minus-circle"></i>
                  <% end %>
                </p>
              </div>
          <!-- photo uploaded by the user and in the current cart -->
            <% else %>
              <div class="photo-column-1">
                <%= cl_image_tag product.photo.cl_url, id: 'uploaded-image', class: "cart-image" %>
              </div>

              <div class="photo-column-2">
                <h2><%= product.photo.title %></h2>
                <div class="cart-info">
                  <p><%= product.frame_combo.frame_material.name %></p>
                  <p>Format <%= product.frame_combo.frame_dimension.format %></p>
                </div>
                <h2>€ <%= product.price %></h2>
              </div>

              <div class="photo-column-3">
                <p>
                  <%= link_to(edit_product_path(product.id), method: :get) do %>
                    <i class="fas fa-pen"></i>
                  <% end %>
                  <%= link_to(product_path(product.cart_product.id), data: { confirm: "Are you sure?" }, method: :delete) do %>
                   <i class="fa fa-minus-circle"></i>
                  <% end %>
                </p>
              </div>
            <% end %>
        </div>
      <% end %>
    </div>


    <div class="total-cart">
        <h2>TOTAL OF YOUR CART</h2>
      <div class="mb-4">
        <p>Number of frames: <%= @quantity  %></p>
        <p>Total amount: € <%= @total_price %></p>
      </div>
      <p><%= link_to 'Finalize your order', new_cart_order_path(@cart.id), class: "btn-blue" %></p>
      <div class="content">
        <h2>DID YOU KNOW?</h2>
        <p>You can upload your own pictures, if their definition is high enough.
        Have a look to our tutorials about taking the pictures, but also how to transform teir light or contrast.
        </p>
        <h2>MAKE A GIFT</h2>
        <p>Your probably have good friends and a nice family. But when it comes to Christmas or birthdays, you are lacking ideas, are you? We help you delight your friends and family. Tell us about their style, we will come back to you with some proposals.
        </p>
      </div>
    </div>
  </div>

</body>
