<div>
<h1>Your current cart</h1>


<ul>
<% @products.each do |product| %>
  <li><%= product.photo.title %></li>
  <li>Frame material: <%= product.frame_combo.frame_material.name %></li>
  <li>Frame format: <%= product.frame_combo.frame_dimension.format %></li>
  <li>Price: <%= product.price %></li>
  <li><% product.photo.id %></li>
<% end %>

</ul>
</div>

<div>
  <h2>Your total cart</h2>
  quantity: <%= @quantity  %>
  total price: EUR <%= @total_price %>
</div>

