<%= simple_form_for photo do |f| %>
  <!-- [...] -->
  <%= f.input :title %>
  <%= f.input :upload %>
  <div class="pb-3">
  <%= f.input :upload_cache, as: :hidden %>
  </div>
  <%= f.button :submit, class: "btn-yellow" %>
  <!-- [...] -->
<% end %>



