<%= simple_form_for([@photo, @product]) do |f| %>
<!-- below, we display all the frame_dimensions existing in a dropdown menu by using the select element. The value that we assign (i.e. material.id) is the value that we'll be able the retrieve when the user chooses a particular option. We add an id to the select element so that we can document.querySelector("#id_name") with js.
 -->
  <select name="frame[dimension]" id="dimension">
    <% @frame_dimensions.each do |dimension| %>
      <option value="<%= dimension.id %>"><%= dimension.format %></option>
    <% end %>
  </select>


<!-- below, we display all the frame_material existing in a dropdown menu by using the select element. The value that we assign (i.e. material.id) is the value that we'll be able the retrieve when the user chooses a particular option. We add an id to the select element so that we can document.querySelector("#id_name") with js.
 -->
  <select name="frame[material]" id="material">
    <% @frame_materials.each do |material| %>
      <option value="<%= material.id %>"><%= material.name %></option>
    <% end %>
  </select>


<!-- below, we transform the @prices created in the photos controller into a json object. We then store it into a data-* attribute which is used to store custom data private to the page or application. The data-* attribute gives us the ability to embed custom data attributes in a HTML element.

-->
  <div style="display: none" id="prices", data-prices="<%= @prices.to_json %>"></div>

  <%= f.button :submit %>
  <!-- [...] -->
<% end %>


<!-- below, we create a back button using javascript to redirect the user to the previous page and keeping his flow history instead of just redirecting him to a specific page -->

<script>
function goBack() {
  window.history.back();
}
</script>

<button onclick="goBack()">Go Back</button>
