<div class="large-bloc">
        <h3 class="mb-4">FRAME YOUR PHOTOGRAPHY</h3>
  <div class="colum-left">
    <div id="left-left">
          <h2 class="mb-2">Choose your options</h2>

        <p class="mb-3">
          Customize your frame by chosing the type of frame you like, and the size of the composition. </br>
          Tips & tricks : if you want to place one frame only, then choose a large format, then you will give more perspective to your room. If you prefer small frames, then you would think about placing several frames together. This will giev a uniq design to your home.
        </p>
    </div>

    <div id="left-right">
      <div class="dropdowns-select">
        <%= simple_form_for([@photo, @product]) do |f| %>
      <!-- below, we display all the frame_dimensions existing in a dropdown menu by using the select element. The value that we assign (i.e. material.id) is the value that we'll be able the retrieve when the user chooses a particular option. We add an id to the select element so that we can document.querySelector("#id_name") with js. -->
          <div class="dropdown mb-4">
            <select name="frame[dimension]" id="dimension" class="dropbtn">
              <option value="">Select a size</option>
              <% @frame_dimensions.each do |dimension| %>

                <option class="dropdown-content btn-desactivated" value="<%= dimension.id %>"><%= dimension.format %></option>
              <% end %>
            </select>
          </div>
          <!-- below, we display all the frame_material existing in a dropdown menu by using the select element. The value that we assign (i.e. material.id) is the value that we'll be able the retrieve when the user chooses a particular option. We add an id to the select element so that we can document.querySelector("#id_name") with js.-->
          <div class="dropdown">
            <select name="frame[material]" id="material" class="dropbtn">
              <option value="">Select a frame</option>
              <% @frame_materials.each do |material| %>
                <option class="dropdown-content btn-desactivated" value="<%= material.id %>"><%= material.name %></option>
              <% end %>
            </select>
          </div>
          <!-- below, we transform the @prices created in the photos controller into a json object. We then store it into a data-* attribute which is used to store custom data private to the page or application. The data-* attribute gives us the ability to embed custom data attributes in a HTML element.-->
        </div>
        <div>
          <h2 id="priceBox">from <strong>€ 39,00</strong></h2>
        </div>
    </div>
  </div>

  <div id="bottom-buttons">

      <%= link_to "Back", photos_path, class: "btn-gray" %>


    <div style="display: none" id="prices", data-prices="<%= @prices.to_json %>"></div>
      <%= f.button :submit, "Add to cart", class: "btn-blue", id:"add" %>
      <% end %>
  </div>
</div>

<script>
  const button = document.querySelector("#add");
  const material = document.querySelector("#material");
  const dimension = document.querySelector("#dimension");

  const photoWithoutFrame = document.querySelector("#photo-without-frame");
  const photoWoodLandscapeFrame = document.querySelector("#photo-wood-landscape-frame");
  const photoAluLandscapeFrame = document.querySelector("#photo-aluminium-landscape-frame");
  const photoWoodPortraitFrame = document.querySelector("#photo-wood-portrait-frame");
  const photoAluPortraitFrame = document.querySelector("#photo-aluminium-portrait-frame");

  const frameSelect = document.querySelectorAll("select")[1];
  const formatSelect = document.querySelectorAll("select")[0];

  photoWoodLandscapeFrame.style.display = "none";
  photoAluLandscapeFrame.style.display = "none";
  photoWoodPortraitFrame.style.display = "none";
  photoAluPortraitFrame.style.display = "none";


// __________________________________________________________________________
  frameSelect.addEventListener('change', (event) => {
    const frameDimension = dimension.value;
    const frameMaterial = material.value;
    console.log(frameMaterial)
    console.log(frameDimension)

    if (frameMaterial == 0) {
      photoWoodLandscapeFrame.style.display = "none";
      photoAluLandscapeFrame.style.display = "none";
      photoWithoutFrame.style.display = "block";
      photoWoodPortraitFrame.style.display = "none";
      photoAluPortraitFrame.style.display = "none";
    } else if (frameMaterial == 1 && frameDimension < 5) {
      photoAluLandscapeFrame.style.display = "none";
      photoWoodLandscapeFrame.style.display = "none";
      photoWithoutFrame.style.display = "none";
      photoWoodPortraitFrame.style.display = "block";
      photoAluPortraitFrame.style.display = "none";
    } else if (frameMaterial == 1 && frameDimension == 5) {
      photoAluLandscapeFrame.style.display = "none";
      photoWoodLandscapeFrame.style.display = "block";
      photoWithoutFrame.style.display = "none";
      photoWoodPortraitFrame.style.display = "none";
      photoAluPortraitFrame.style.display = "none";
    } else if (frameMaterial == 2 && frameDimension < 5) {
      photoWoodLandscapeFrame.style.display = "none";
      photoAluLandscapeFrame.style.display = "none";
      photoWithoutFrame.style.display = "none";
      photoWoodPortraitFrame.style.display = "none";
      photoAluPortraitFrame.style.display = "block";
    } else if (frameMaterial == 2 && frameDimension == 5) {
      photoWoodLandscapeFrame.style.display = "none";
      photoAluLandscapeFrame.style.display = "block";
      photoWithoutFrame.style.display = "none";
      photoWoodPortraitFrame.style.display = "none";
      photoAluPortraitFrame.style.display = "none";
    }
  })


  button.disabled = true;

  if (material.value === "" || dimension.value === "" ) {
    button.disabled = true;
  }
  else {
    button.disabled = false;
  }
</script>
<!-- ________________________________________________________________________ -->


<!-- frameSelect.addEventListener('change', (event) => {
    const frameDimension = dimension.value;
    const frameMaterial = material.value;
    console.log(frameMaterial)
    if (frameMaterial == 0) {
      photoWoodLandscapeFrame.style.display = "none";
      photoAluLandscapeFrame.style.display = "none";
      photoWithoutFrame.style.display = "block";
      photoAluPortraitFrame.style.display = = "none";
    } else if (frameMaterial == 1) {
      photoAluLandscapeFrame.style.display = "none";
      photoWoodLandscapeFrame.style.display = "block";
      photoWithoutFrame.style.display = "none";
      photoWoodPortraitFrame.style.display = "none";
    } else if (frameMaterial == 2) {
      photoWoodLandscapeFrame.style.display = "none";
      photoAluLandscapeFrame.style.display = "block";
      photoWithoutFrame.style.display = "none";
      photoWoodPortraitFrame.style.display = "none";
    }
  })


  button.disabled = true;

  if (material.value === "" || dimension.value === "" ) {
    button.disabled = true;
  }
  else {
    button.disabled = false;
  }
</script>
 -->
