<h1>Photos#index</h1>
<p>Find me in app/views/photos/index.html.erb</p>

<div class="d-flex w-100 flex-wrap">
  <% @photos.each do |photo| %>
    <div class="photo-container" >
      <img class="photoindex" data-id = "<%= photo['id'] %>" src="<%= photo["src"]["large2x"]%>" height="300" alt="test">
      <i class="fas fa-heart" data-id = "<%= photo['id'] %>" data-src="<%= photo["src"]["large2x"]%>"></i>
    </div>
<% end %>
</div>


<%= simple_form_for Photo.new do |f| %>
  <%= f.input :api_id, :as => :hidden %>
  <%= f.input :api_url, :as => :hidden %>
<% end %>

<%= simple_form_for Favorite.new, remote: true do |f| %>
  <input  id="favorite_api_id" type="text" value="" hidden="true" name="api_id">
  <input type="text" id="favorite_api_url" value="" hidden="true" name="url_id">
<% end %>

<!-- <p>
  Photo ID:<%#= photo["id"] %>
  Width:<%#= photo["width"] %>
  Height:<%#= photo["height"] %>
  HD:<%#= photo["src"]["original"] %>
  Large:<%#= photo["src"]["large2x"] %>
  Medium:<%#= photo["src"]["medium"] %>
</p> -->

<script>
  // This is a form for a new photo
  const photos = document.querySelectorAll(".photoindex")
  const form_id = document.querySelector("#photo_api_id")
  const form_url = document.querySelector("#photo_api_url")


  photos.forEach((photo) => {

    photo.addEventListener('click', (e) => {
      form_id.value = photo.dataset.id
      form_url.value = photo.src
      document.querySelector("#new_photo").submit()
    })
  })
  //This is a form for a new favorite
  const favoritesForm = document.querySelector("#new_favorite")
  const hearts = document.querySelectorAll(".fa-heart")
  const apiUrl = document.querySelector("#favorite_api_url")
  const apiId = document.querySelector("#favorite_api_id")

  hearts.forEach((heart)=>{
    heart.addEventListener('click', (e) => {
      apiId.value = e.target.dataset.id
      apiUrl.value = e.target.dataset.src
      Rails.fire(favoritesForm, "submit")
    })
  })
</script>

<!-- document.querySelector("#new_photo").submit() -->
<!-- document.querySelector("#photo_api_url").value = 23 -->
<!-- document.querySelector("#photoindex").dataset.id -->
