
<!-- below, show the photo -->
<div class="this-is-flex-div">

  <div class="large-photo" id="photo-without-frame">
    <% if @photo.cl_url %>
      <%= cl_image_tag @photo.cl_url, class:"photoshow" %>
    <% else %>
      <img data-height="<%=@photo.height%>" data-width="<%=@photo.width%>" class="photoshow" src="<%= @photo_api["src"]["large2x"] %>">
    <% end %>
  </div>

  <div class="landscape-container" id="photo-wood-landscape-frame">
    <div class="picture" style="background-image: url(<%= @photo_api["src"]["large2x"] %>);">
      <div class="landscape-frame">
          <%= image_tag "frame-wood-landscape.png" %>
      </div>
    </div>
  </div>

  <div class="landscape-container" id="photo-aluminium-landscape-frame">
    <div class="picture" style="background-image: url(<%= @photo_api["src"]["large2x"] %>);">
      <div class="landscape-frame">
          <%= image_tag "frame-alu-landscape.png" %>
      </div>
    </div>
  </div>


  <div class="portrait-container" id="photo-wood-portrait-frame">
    <div class="picture" style="background-image: url(<%= @photo_api["src"]["large2x"] %>);">
      <div class="portrait-frame">
          <%= image_tag "frame-wood-portrait.png" %>
      </div>
    </div>
  </div>

  <div class="portrait-container" id="photo-aluminium-portrait-frame">
    <div class="picture" style="background-image: url(<%= @photo_api["src"]["large2x"] %>);">
      <div class="portrait-frame">
          <%= image_tag "frame-alu-portrait.png" %>
      </div>
    </div>
  </div>


  <%= render 'product', product: @product %>

</div>
