
<!-- below, show the photo -->
<div class="this-is-flex-div">

  <div id="large-photo">
    <% if @photo.cl_url %>
      <%= cl_image_tag @photo.cl_url, class:"photoshow" %>
    <% else %>
      <img data-height="<%=@photo.height%>" data-width="<%=@photo.width%>" class="photoshow" src="<%= @photo_api["src"]["large2x"] %>">
    <% end %>
  </div>
  <%= render 'product', product: @product %>

</div>
