<%= simple_form_for(@product) do |f| %>
  <!-- [...] -->
  <select name="frame[dimension]" id="dimension">
    <% @frame_dimensions.each do |dimension| %>
      <option value="<%= dimension.id %>"><%= dimension.format %></option>
    <% end %>
  </select>

  <select name="frame[material]" id="material">
    <% @frame_materials.each do |material| %>
      <option value="<%= material.id %>"><%= material.name %></option>
    <% end %>
  </select>

  <div style="display: none" id="prices", data-prices="<%= @prices.to_json %>"></div>

  <%= f.button :submit %>
  <!-- [...] -->
<% end %>
